/*- Custom style -*/
#color-display { 
font-size: .75em;
color: #AAA;
}

.highligher-rouge {
    border-radius: .3em;
    padding: 0 .3em;
    background-color: #E0FFE0;
}

.highligher-rouge:hover {
    background-color: #7AF;
    color: #FFF;
}